<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>shortcut</key>
<string>Whatareyoudoingtonight??g</string>
<key>phrase</key>
<string>Bạn làm gì tối nay?
</string>
</dict><dict>
<key>shortcut</key>
<string>Goodmorning?g</string>
<key>phrase</key>
<string>Buổi sáng tốt lành
Interjection
Chào buổi sáng!
Good morning!</string>
</dict><dict>
<key>shortcut</key>
<string>Goodnight?g</string>
<key>phrase</key>
<string>Chúc ngủ ngon
Interjection
Chúc ngũ ngon!
Good night!</string>
</dict><dict>
<key>shortcut</key>
<string>Doyouwanttobemygirlfriend??g</string>
<key>phrase</key>
<string>Làm bạn gái anh nhé?
</string>
</dict><dict>
<key>shortcut</key>
<string>You'rebeautiful?g</string>
<key>phrase</key>
<string>Bạn đẹp
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatareyoudoingtonight??g</string>
<key>phrase</key>
<string>Bạn làm gì tối nay?
</string>
</dict><dict>
<key>shortcut</key>
<string>Goodmorning?g</string>
<key>phrase</key>
<string>Buổi sáng tốt lành
Interjection
Chào buổi sáng!
Good morning!</string>
</dict><dict>
<key>shortcut</key>
<string>Goodnight?g</string>
<key>phrase</key>
<string>Chúc ngủ ngon
Interjection
Chúc ngũ ngon!
Good night!</string>
</dict><dict>
<key>shortcut</key>
<string>Doyouwanttobemygirlfriend??g</string>
<key>phrase</key>
<string>Làm bạn gái anh nhé?
</string>
</dict><dict>
<key>shortcut</key>
<string>Doyouwanttobemyboyfriend??g</string>
<key>phrase</key>
<string>Bạn có muốn trở thành bạn trai của tôi?
</string>
</dict><dict>
<key>shortcut</key>
<string>I'mtired?g</string>
<key>phrase</key>
<string>tôi mệt
</string>
</dict><dict>
<key>shortcut</key>
<string>I'msad?g</string>
<key>phrase</key>
<string>tôi buồn
</string>
</dict><dict>
<key>shortcut</key>
<string>I'mhungry?g</string>
<key>phrase</key>
<string>tôi đói
</string>
</dict><dict>
<key>shortcut</key>
<string>I'mangry?g</string>
<key>phrase</key>
<string>Tôi đang tức giận
</string>
</dict><dict>
<key>shortcut</key>
<string>I'mhappy?g</string>
<key>phrase</key>
<string>Tôi đang hạnh phúc
</string>
</dict><dict>
<key>shortcut</key>
<string>IreallylikeyoubutIdon'tthinkweareagoodfitforeachotherIthinkit'stimetobreakup?g</string>
<key>phrase</key>
<string>Anh rất thích em nhưng anh nghĩ chúng ta không hợp nhau, anh nghĩ đã đến lúc chia tay
</string>
</dict><dict>
<key>shortcut</key>
<string>You'reugly?g</string>
<key>phrase</key>
<string>Bạn xấu
</string>
</dict><dict>
<key>shortcut</key>
<string>You'renice?g</string>
<key>phrase</key>
<string>Bạn tốt
</string>
</dict><dict>
<key>shortcut</key>
<string>You'resmart?g</string>
<key>phrase</key>
<string>Bạn thông minh
</string>
</dict><dict>
<key>shortcut</key>
<string>Ihateyou?g</string>
<key>phrase</key>
<string>tao ghét mày
</string>
</dict><dict>
<key>shortcut</key>
<string>Iloveyou?g</string>
<key>phrase</key>
<string>Tôi mến bạn
</string>
</dict><dict>
<key>shortcut</key>
<string>You'refunny?g</string>
<key>phrase</key>
<string>Bạn thật hài hước
</string>
</dict><dict>
<key>shortcut</key>
<string>I'mthebest?g</string>
<key>phrase</key>
<string>Tôi là tốt nhất
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatisyourphonenumber??g</string>
<key>phrase</key>
<string>Số điện thoại của bạn là gì?
Phrase
Số điện thoại của bạn là gì?
What is your phone number?</string>
</dict><dict>
<key>shortcut</key>
<string>Whatisyourjob??g</string>
<key>phrase</key>
<string>Bạn làm nghề gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourfavoritefood??g</string>
<key>phrase</key>
<string>Món ăn yêu thích của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourfavoritedrink??g</string>
<key>phrase</key>
<string>Đồ uống yêu thích của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourfavoritecolor??g</string>
<key>phrase</key>
<string>Màu yêu thích của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourfavoritemovie??g</string>
<key>phrase</key>
<string>Bộ phim yêu thích của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatwasthelastbookyouread??g</string>
<key>phrase</key>
<string>cuốn sách cuối cùng bạn đọc là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Doyouhaveanypets??g</string>
<key>phrase</key>
<string>Bạn có nuôi con gì không?
</string>
</dict><dict>
<key>shortcut</key>
<string>Doyouliketocook??g</string>
<key>phrase</key>
<string>Bạn có thích nấu ăn không?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourfavoritefood??g</string>
<key>phrase</key>
<string>Món ăn yêu thích của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Areyougoodatcooking/swimming/etc??g</string>
<key>phrase</key>
<string>Bạn có giỏi nấu ăn / bơi lội / vv không?
</string>
</dict><dict>
<key>shortcut</key>
<string>Areyoumarriedorsingle??g</string>
<key>phrase</key>
<string>Bạn đã kết hôn hay còn độc thân?
</string>
</dict><dict>
<key>shortcut</key>
<string>Doyouhavebrothersandsisters??g</string>
<key>phrase</key>
<string>Bạn có anh chị em gì không?
</string>
</dict><dict>
<key>shortcut</key>
<string>Aretheyolderoryoungerthanyou??g</string>
<key>phrase</key>
<string>Họ già hơn hay trẻ hơn bạn?
</string>
</dict><dict>
<key>shortcut</key>
<string>Doyoulikebaseball??g</string>
<key>phrase</key>
<string>Bạn có thích bóng chày không?
</string>
</dict><dict>
<key>shortcut</key>
<string>Doyoulivealone??g</string>
<key>phrase</key>
<string>Bạn sống một mình à?
</string>
</dict><dict>
<key>shortcut</key>
<string>Doyouliveinahouseoranapartment??g</string>
<key>phrase</key>
<string>Bạn sống trong một ngôi nhà hay một căn hộ?
</string>
</dict><dict>
<key>shortcut</key>
<string>Haveyoueverlivedinanothercountry??g</string>
<key>phrase</key>
<string>Bạn đã từng sống ở một quốc gia khác không?
</string>
</dict><dict>
<key>shortcut</key>
<string>Haveyouevermetafamousperson??g</string>
<key>phrase</key>
<string>Bạn đã bao giờ gặp một người nổi tiếng?
</string>
</dict><dict>
<key>shortcut</key>
<string>Howdoyouspendyourfreetime??g</string>
<key>phrase</key>
<string>Bạn làm gì vào thời gian rảnh?
</string>
</dict><dict>
<key>shortcut</key>
<string>HowlonghaveyoubeenstudyingEnglish??g</string>
<key>phrase</key>
<string>Bạn đã học tiếng anh được bao lâu rồi?
</string>
</dict><dict>
<key>shortcut</key>
<string>Howoldareyou??g</string>
<key>phrase</key>
<string>Bạn bao nhiêu tuổi?
Phrase
Bạn bao nhiều tuổi?
How old are you?</string>
</dict><dict>
<key>shortcut</key>
<string>Howtallareyou??g</string>
<key>phrase</key>
<string>Bạn cao bao nhiêu?
</string>
</dict><dict>
<key>shortcut</key>
<string>Tellmeaboutafavoriteeventofyouradulthood?g</string>
<key>phrase</key>
<string>Kể cho tôi nghe về một sự kiện yêu thích ở tuổi trưởng thành của bạn
</string>
</dict><dict>
<key>shortcut</key>
<string>Tellmeaboutafavoriteeventofyourchildhood?g</string>
<key>phrase</key>
<string>Kể cho tôi nghe về một sự kiện yêu thích thời thơ ấu của bạn
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatareyourhobbies??g</string>
<key>phrase</key>
<string>Sở thích của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatcountrieshaveyouvisited??g</string>
<key>phrase</key>
<string>Bạn đã đến thăm những quốc gia nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatcountryareyoufrom??g</string>
<key>phrase</key>
<string>Bạn đến từ đất nước nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>WhatdoyoudoonSundays??g</string>
<key>phrase</key>
<string>Bạn làm gì vào Chủ nhật?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatdoyoudo?What'syourjob??g</string>
<key>phrase</key>
<string>Bạn làm nghề gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whereisthemostbeautifulplaceyouhavebeen??g</string>
<key>phrase</key>
<string>Nơi đẹp nhất bạn đã đến là ở đâu?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatdoyouliketodoinyourfreetime??g</string>
<key>phrase</key>
<string>Bạn thích làm gì trong thời gian rảnh?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whathobbiesdoyouhave??g</string>
<key>phrase</key>
<string>Bạn có sở thích gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatisthenearestbusstoportrainstationtoyourhouse??g</string>
<key>phrase</key>
<string>Bến xe buýt hoặc ga xe lửa gần nhà bạn nhất là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatisyourmotto??g</string>
<key>phrase</key>
<string>Phương châm của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatisyourreligion??g</string>
<key>phrase</key>
<string>Tôn giáo của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatkindoffooddoyoulike??g</string>
<key>phrase</key>
<string>Những loại thực phẩm nào bạn thích?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatkindofpeopledoyoulike??g</string>
<key>phrase</key>
<string>Bạn thích kiểu người nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatkindofpeopledoyounotlike??g</string>
<key>phrase</key>
<string>Bạn không thích kiểu người nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatlanguagesdoyouspeak??g</string>
<key>phrase</key>
<string>Bạn nói ngôn ngữ nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'ssomethingyoudowell??g</string>
<key>phrase</key>
<string>Bạn làm tốt điều gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'syouraddress??g</string>
<key>phrase</key>
<string>Địa chỉ của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourfatherlike??g</string>
<key>phrase</key>
<string>Bố của bạn như thế nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourmotherlike??g</string>
<key>phrase</key>
<string>Mẹ của bạn như thế nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourname??g</string>
<key>phrase</key>
<string>Bạn tên là gì?
Phrase
Tên bạn là gì?
What's your name?
Tên của bạn là gì?
What's your name?</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourphonenumber??g</string>
<key>phrase</key>
<string>Số điện thoại của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourtelephonenumber??g</string>
<key>phrase</key>
<string>Số điện thoại của bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>WhendidyoustarttostudyEnglish??g</string>
<key>phrase</key>
<string>Bạn bắt đầu học tiếng Anh khi nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whereareyoufrom??g</string>
<key>phrase</key>
<string>Bạn đến từ đâu?
Phrase
Bạn từ đâu đến?
Where are you from?</string>
</dict><dict>
<key>shortcut</key>
<string>Wheredoyoulive??g</string>
<key>phrase</key>
<string>Bạn sống ở đâu?
</string>
</dict><dict>
<key>shortcut</key>
<string>Wheredoyoulive?Howlonghaveyoulivedthere??g</string>
<key>phrase</key>
<string>Bạn sống ở đâu?
</string>
</dict><dict>
<key>shortcut</key>
<string>Wherewereyouborn??g</string>
<key>phrase</key>
<string>Bạn sinh ra ở đâu?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatsportsdoyoulike??g</string>
<key>phrase</key>
<string>Bạn thích môn thể thao nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whodoyoulivewith??g</string>
<key>phrase</key>
<string>Bạn sống với ai?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whodoyourespectthemost??g</string>
<key>phrase</key>
<string>Bạn tôn trọng ai nhất?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whohashadthemostinfluenceinyourlife??g</string>
<key>phrase</key>
<string>Ai là người có ảnh hưởng nhất trong cuộc đời bạn?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whydidyoudecidetotakethiscourse??g</string>
<key>phrase</key>
<string>Tại sao bạn quyết định tham gia khóa học này?
</string>
</dict><dict>
<key>shortcut</key>
<string>WhydoyouwanttolearnEnglish??g</string>
<key>phrase</key>
<string>Tại sao bạn muốn học tiếng Anh?
</string>
</dict><dict>
<key>shortcut</key>
<string>Wouldyouliketobefamous??g</string>
<key>phrase</key>
<string>Bạn có muốn trở nên nổi tiếng?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatdoyouthinkyouwillbedoingfiveyearsfromnow??g</string>
<key>phrase</key>
<string>Bạn nghĩ bạn sẽ làm gì trong 5 năm kể từ bây giờ?
</string>
</dict><dict>
<key>shortcut</key>
<string>Wheredoyouthinkyou'llbelivingfiveyearsfromnow??g</string>
<key>phrase</key>
<string>Bạn nghĩ mình sẽ sống ở đâu trong 5 năm tới?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatisyourgoalinlife??g</string>
<key>phrase</key>
<string>mục đích trong đời bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Areyoua'morning'or'night'person??g</string>
<key>phrase</key>
<string>Bạn là người 'sáng' hay 'tối'?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whendoyoufeelbest?Inthemorning,afternoon,orevening??g</string>
<key>phrase</key>
<string>Khi nào bạn cảm thấy tốt nhất?
</string>
</dict><dict>
<key>shortcut</key>
<string>Howmanycitieshaveyoulivedin??g</string>
<key>phrase</key>
<string>Bạn đã sống ở bao nhiêu thành phố?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatjobshaveyoudone??g</string>
<key>phrase</key>
<string>Bạn đã làm những công việc gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whichdoyouprefer,sunrisesorsunsets??g</string>
<key>phrase</key>
<string>Bạn thích cái nào hơn, bình minh hay hoàng hôn?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatcouldyoudoasachildthatyoucan'tdonow??g</string>
<key>phrase</key>
<string>Bạn có thể làm gì khi còn nhỏ mà bạn không thể làm bây giờ?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whoisyournextdoorneighborinyourhomecountry??g</string>
<key>phrase</key>
<string>Ai là hàng xóm bên cạnh của bạn ở quê nhà?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatisheorshelike??g</string>
<key>phrase</key>
<string>Anh ấy hoặc cô ấy như thế nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>Didyougetalongwitheachother??g</string>
<key>phrase</key>
<string>Bạn đã hòa hợp với nhau?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatisthebestmemoryofourcountrythatyouwilltakebackhomewithyou??g</string>
<key>phrase</key>
<string>Kỷ niệm đẹp nhất về đất nước của chúng tôi mà bạn sẽ mang về nhà với bạn là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatistheworstmemoryofourcountry??g</string>
<key>phrase</key>
<string>Kỷ niệm tồi tệ nhất của đất nước chúng ta là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Howmanytimesdidyoumoveasachild??g</string>
<key>phrase</key>
<string>Bạn đã di chuyển bao nhiêu lần khi còn nhỏ?
</string>
</dict><dict>
<key>shortcut</key>
<string>Areyouataskorientedpersonorapeopleorientedperson??g</string>
<key>phrase</key>
<string>Bạn là một người định hướng nhiệm vụ hay một người định hướng mọi người?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatistheprofileofthewife/husbandyouwouldmeet??g</string>
<key>phrase</key>
<string>Hồ sơ của người vợ / người chồng bạn sẽ gặp là gì?
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatkindofwoman/manwouldyouliketomarry??g</string>
<key>phrase</key>
<string>Bạn muốn kết hôn với kiểu phụ nữ / người đàn ông nào?
</string>
</dict><dict>
<key>shortcut</key>
<string>Wheredoyoulive??g</string>
<key>phrase</key>
<string>Bạn sống ở đâu?
</string>
</dict><dict>
<key>shortcut</key>
<string>Howoldareyou??g</string>
<key>phrase</key>
<string>Bạn bao nhiêu tuổi?
Phrase
Bạn bao nhiều tuổi?
How old are you?</string>
</dict><dict>
<key>shortcut</key>
<string>Whereareyoufrom??g</string>
<key>phrase</key>
<string>Bạn đến từ đâu?
Phrase
Bạn từ đâu đến?
Where are you from?</string>
</dict><dict>
<key>shortcut</key>
<string>What'syourname??g</string>
<key>phrase</key>
<string>Bạn tên là gì?
Phrase
Tên bạn là gì?
What's your name?
Tên của bạn là gì?
What's your name?</string>
</dict>
</array>
</plist>
<dict>
<key>shortcut</key>
<string>You'rebeautiful?g</string>
<key>phrase</key>
<string>Bạn đẹp
</string>
</dict><dict>
<key>shortcut</key>
<string>Whatareyoudoingtonight??g</string>
<key>phrase</key>
<string>Bạn làm gì tối nay?
</string>
</dict><dict>
<key>shortcut</key>
<string>Goodmorning?g</string>
<key>phrase</key>
<string>Buổi sáng tốt lành
Interjection
Chào buổi sáng!
Good morning!</string>
</dict><dict>
<key>shortcut</key>
<string>Goodnight?g</string>
<key>phrase</key>
<string>Chúc ngủ ngon
Interjection
Chúc ngũ ngon!
Good night!</string>
</dict><dict>
<key>shortcut</key>
<string>Doyouwanttobemygirlfriend??g</string>
<key>phrase</key>
<string>Làm bạn gái anh nhé?
</string>
</dict><dict>
<key>shortcut</key>
<string>Doyouwanttobemyboyfriend??g</string>
<key>phrase</key>
<string>Bạn có muốn trở thành bạn trai của tôi?
</string>
</dict><dict>
<key>shortcut</key>
<string>I'mtired?g</string>
<key>phrase</key>
<string>tôi mệt
</string>
</dict><dict>
<key>shortcut</key>
<string>I'msad?g</string>
<key>phrase</key>
<string>tôi buồn
</string>
</dict><dict>
<key>shortcut</key>
<string>I'mhungry?g</string>
<key>phrase</key>
<string>tôi đói
</string>
</dict><dict>
<key>shortcut</key>
<string>I'mangry?g</string>
<key>phrase</key>
<string>Tôi đang tức giận
</string>
</dict><dict>
<key>shortcut</key>
<string>I'mhappy?g</string>
<key>phrase</key>
<string>Tôi đang hạnh phúc
</string>
</dict><dict>
<key>shortcut</key>
<string>IreallylikeyoubutIdon'tthinkweareagoodfitforeachotherIthinkit'stimetobreakup?g</string>
<key>phrase</key>
<string>Anh rất thích em nhưng anh nghĩ chúng ta không hợp nhau, anh nghĩ đã đến lúc chia tay
</string>
</dict><dict>
<key>shortcut</key>
<string>You'reugly?g</string>
<key>phrase</key>
<string>Bạn xấu
</string>
</dict><dict>
<key>shortcut</key>
<string>You'renice?g</string>
<key>phrase</key>
<string>Bạn tốt
</string>
</dict><dict>
<key>shortcut</key>
<string>You'resmart?g</string>
<key>phrase</key>
<string>Bạn thông minh
</string>
</dict><dict>
<key>shortcut</key>
<string>Ihateyou?g</string>
<key>phrase</key>
<string>tao ghét mày
</string>
</dict><dict>
<key>shortcut</key>
<string>Iloveyou?g</string>
<key>phrase</key>
<string>Tôi mến bạn
</string>
</dict><dict>
<key>shortcut</key>
<string>You'refunny?g</string>
<key>phrase</key>
<string>Bạn thật hài hước
</string>
</dict>
